.main,
body,
html {
  height: 100%;
}

.main {
  background-image: url('../img/gulp.png');
  background-size: 20%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

  .logo {
    // width: 100px;
    transition: all 1s ease-in-out 0s;
    width: 40%;
    filter: sepia(100%) hue-rotate(90deg) saturate(400%);

    &:hover {
      cursor: default;
      transform: rotate(360deg);
      transition: all 1s ease-in-out 0s;
    }
  }
}
